{% extends 'finance/base.html' %}
{% load humanize %}

{% block head %}
{% load static %}
    <script  src="{% static 'js/utils.js' %}"></script>
{% endblock head %}

{% block content %}
    <h3>Nova Despesa Mensal</h3>
    <div class="container row">
        <div class="col-sm-12 col-xs-12 col-lg-6">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form action="{% url 'finance:edit_monthly_expense' expense.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="date" class="form-label">Data</label>
                    {{ form.date }}
                </div>
                <div class="mb-3">
                    <label for="place" class="form-label">Local</label>
                    {{ form.place }}
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    {{ form.description }}
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Categoria</label>
                    {{ form.expense_category }}
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Valor</label>
                    {{ form.amount }}
                </div>
                <div class="mb-3">
                    <label for="total_plots" class="form-label">Quantidade Parcelas</label>
                    {{ form.total_plots }}    
                </div>
                <div class="mb-3">
                    <label for="current_plot" class="form-label">Parcela Atual</label>
                    {{ form.current_plot }}    
                </div>  
                <div class="mb-3">
                    <label for="due_date" class="form-label">Vencimento</label>
                    {{ form.due_date }}    
                </div>
                <div class="mb-4">
                    <label for="form_of_payment" class="form-label">Forma de Pagamento</label>
                    {{ form.form_of_payment }}
                </div> 
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a class="btn btn-danger" href="{% url 'finance:monthly_expenses' %}" role="button">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock content %}