{% extends 'finance/base.html' %}
{% load django_jsonform %}
{% load humanize %}

{% block head %}
{% load static %}
    <script  src="{% static 'js/monthly-expenses.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/alerta.css' %}">
{% endblock head %}


{% block content %}
    <div class="alerta" id="alerta">
        <span class="closebtn" onclick="closeAlert()">&times;</span> 
        <span id="alerta-label"></span>
    </div>
    <div class="row">
        <div class="col-12" style="height: 50px;">
            <a class="btn btn-primary" href="{% url 'finance:new_monthly_expense' %}" role="button">Novo</a>
            <button type="button" class="btn btn-danger" onclick="deleteExpenses(event, this)">Excluir</button>
            <button class="btn btn-secondary disabled" id="upload-csv" onclick="importExpenses(event, this)">
                <span id="btn-upload-csv-label">Importar CSV</span>
                <span class="spinner-border spinner-border-sm d-none" id="spinner-upload-csv" role="status" aria-hidden="true"></span>
            </button>
            <input class="form-control" id="csv-file" type="file" style="width: auto; display: inline-block;" onchange="updateBtnUploadCsv(event, this)" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-10">Despesas Mensal</h5>
                    <div class="row mt-3 mb-3">
                        <div class="col-sm-3 col-xs-3 col-lg-2">
                            <label for="page"> Items por pagina</label>
                            <select class="form-control form-control-sm" style="width: auto; display: inline-block; appearance: auto;" onchange="updateQueryParameters()"  id="limit">
                                <option {% if monthly_expenses.limit == 10 %} selected {% endif %} >10</option>
                                <option {% if monthly_expenses.limit == 25 %} selected {% endif %} >25</option>
                                <option {% if monthly_expenses.limit == 50 %} selected {% endif %} >50</option>
                                <option {% if monthly_expenses.limit == 100 %} selected {% endif %} >100</option>
                            </select>
                        </div>
                        <div class="col-sm-3 col-xs-3 col-lg-3">
                            <label for="year_month">Vencimento: </label>
                            <input type="month" placeholder="yyyy-mm" class="form-control form-control-sm" id="year_month" style="width: auto; display: inline-block;" onchange="updateQueryParameters()" value="{% if due_date != None %}{{ due_date }}{% endif %}"/>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-lg-7">
                            <div class="float-end">
                                <label for="where">Pesquisar: </label>
                                <input type="text" class="form-control" id="where" style="width: auto; display: inline-block;" value="{% if where != None %}{{ where }}{% endif %}" />
                                <button type="button" class="btn btn-dark" onclick="updateQueryParameters()">Pesquisar</button>
                                <button type="button" class="btn btn-light" onclick="clearSearch()">Limpar</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row to table -->
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-lg-12 table-responsive-sm">
                            <table class="table table-hover table-sm mt-3">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Data</th>
                                        <th>Local</th>
                                        <th>Descrição</th>
                                        <th>Forma de Pagamento</th>
                                        <th>Valor</th>
                                        <th>Qtd Parcelas</th>
                                        <th>Parcela Atual</th>
                                        <th>Vencimento</th>
                                        <th>Status</th>
                                        <th>Atualizado em</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for expense in monthly_expenses.items %}
                                    <tr>
                                        <td>
                                            <div>
                                                <input class="form-check-input" type="checkbox" id="{{ expense.id }}" value="" aria-label="...">
                                            </div>
                                        </td>
                                        <td>{{ expense.date | parse_datetime | naturalday}}</td>
                                        <td>{{ expense.place }}</td>
                                        <td><a href="{% url 'finance:edit_monthly_expense' expense.id %}">{{ expense.description }}</a></td>
                                        <td>{{ expense.form_of_payments.description }}</td>
                                        <td>R$ {{ expense.amount | intcomma }}</td>
                                        <td>{{ expense.total_plots }}</td>
                                        <td>{{ expense.current_plot }}</td>
                                        <td>{{ expense.due_date | parse_datetime | naturalday }}</td>
                                        <td>{{ expense.status }}</td>
                                        {% if expense.updated_at != null %}
                                            <td>{{ expense.updated_at | parse_datetime | naturaltime }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End of line to table -->

                    <!-- Row to pagination -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 col-lg-6">
                            <span>Monstrando {{ showing }}</span>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-lg-6">
                            <nav aria-label="pagination" class="float-end">
                                <ul class="pagination">
                                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                        <a class="page-link" href="#" onclick="updateQueryParameters(1)" aria-label="First">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                        <a class="page-link" href="#" onclick="updateQueryParameters('{{prev_page}}')" aria-label="Previous">
                                        <span aria-hidden="true">&lsaquo;</span>
                                        </a>
                                    </li>
                                    {% for npage in pages %}
                                        <li class="page-item {% if npage == page %}active{% endif %} ">
                                            <a class="page-link" 
                                               href="#" onclick="updateQueryParameters('{{npage}}')">{{ npage }}</a></li>
                                    {% endfor %}
                                    <li class="page-item {% if page == last_page %}disabled{% endif %}">
                                        <a class="page-link" href="#" onclick="updateQueryParameters('{{next_page}}')" aria-label="Next">
                                            <span aria-hidden="true">&rsaquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item {% if page == last_page %}disabled{% endif %}">
                                        <a class="page-link" href="#" onclick="updateQueryParameters('{{last_page}}')" aria-label="Last">
                                        <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                              </nav>
                        </div>
                    </div>
                    <!-- End line to pagination -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}